package partials

import "fmt"
import "gitlab.com/shaninalex/lumna/app/web/pages/templates/components"

templ ProjectUpdated(title string) {
	<!-- 0. Alert renders in #result -->
	@components.Alert(
		fmt.Sprintf("Project \"%s\" updated", title),
		&components.AlertTypeSuccess,
	)
	<!-- 1. Updates page title -->
	<div
		id="dashboard-title"
		hx-swap-oob="innerHTML"
	>
		Project: { title }
	</div>
}
