<a [routerLink]="[...appRoutes.task(task.id)]" class="d-flex justify-content-between align-items-start text-decoration-none">
    <div class="flex-grow-1">
        <div class="d-flex align-items-center gap-2 mb-1">
            <span class="badge text-bg-primary">Development</span>
            <span class="badge text-bg-warning">In Progress</span>
        </div>
        <h6 class="mb-1 text-body">
            {{ task.title }}
        </h6>
        <div class="small text-muted">
            #Feat-123 • Created by Alex • {{ task.created_at | date: standardTime }}
        </div>
    </div>
    <i class="fa-solid fa-chevron-right text-muted mt-1"></i>
</a>
