package root


import "gitlab.com/shaninalex/lumna/app/web/pages/templates"

templ Home() {
	@templates.Dashboard("Home") {
		<div>
			Home
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
		</div>
	}
}
