package root

import (
	"gitlab.com/shaninalex/lumna/app/web/pages/templates"
	"gitlab.com/shaninalex/lumna/app/web/utils"
)

type HomePageData struct {
	utils.BasePage
}

templ Home(page HomePageData) {
	@templates.Dashboard(page.BasePage) {
		<div>Home page</div>
	}
}
