package root

import "context"
import "gitlab.com/shaninalex/lumna/app/web/pages/templates"

templ Home(ctx context.Context) {
	@templates.Dashboard(ctx, "Home") {
		<div>
			Home
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
			<p>lorem dsakfljldsfkjdsl kfjdsl fkjsd f lksd fl sdf</p>
		</div>
	}
}
