<div class="card">
    <div class="card-body">
        <h4 class="card-title">Create new board</h4>
        <form (submit)="submit($event)">
            <div class="mb-2">
                <input
                    class="form-control"
                    type="text"
                    placeholder="Board title"
                    autocomplete="off"
                    [formField]="boardForm.title"
                />
                @if (boardForm.title().dirty() && boardForm.title().errors()) {
                    @for (error of boardForm.title().errors(); track error) {
                        <div class="text-danger small">{{ error.message }}</div>
                    }
                }
            </div>

            <div class="d-flex items-center gap-2">
                <button type="submit" class="btn btn-sm btn-primary" [disabled]="boardForm().invalid()">
                    Create
                </button>
                <button type="button" (pointerdown)="cancel()" class="btn btn-sm btn-secondary">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>

