package templates

import (
	"gitlab.com/shaninalex/lumna/app/web/pages/templates/partials"
	"gitlab.com/shaninalex/lumna/app/web/utils"
)

templ Base(page utils.BasePage) {
	<!DOCTYPE html>
	<html lang="en">
		@partials.Head(page)
		<body>
			{ children... }

			@partials.FooterIncludes()
		</body>
	</html>
}
