package templates

import "gitlab.com/shaninalex/lumna/app/web/pages/templates/partials"

templ Dashboard(title string) {
	@Base(title) {
		<div class="dashboard">
			@partials.DashboardSidebar()
			<div class="dashboard-main">
				@partials.DashboardHeader()
				<main class="dashboard-content">
					{ children... }
				</main>
			</div>
		</div>
	}
}
