CLIENT_ID=
CLIENT_SECRET=
DSN="postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable&search_path=kratos"
COURIER_SMTP_CONNECTION_URI="smtps://test:test@mailslurper:1025/?skip_ssl_verify=true"