.idea
.vscode
.zed

.env

var/
frontend/node_modules

config/config.dev.yaml
app/static/resources/*
!app/static/resources/.gitkeep
!app/static/resources/assets

bin/*
!bin/.gitkeep
!bin/*.sh

*.db

__debug_*
cover.out

.claude
