.idea
.vscode
.zed

.env

var/
frontend/node_modules

config/config.yaml
app/web/resources/*
!app/web/resources/.gitkeep
!app/web/resources/assets

bin/*
!bin/.gitkeep
!bin/*.sh

*.db

__debug_*
cover.out

.claude

!.git/hooks/post-tag
resources/assets/*
!resources/assets/.gitkeep
