<div class="sidebar">
    <div class="flex flex-col gap-6">
        <div class="text-center">
            <img src="img/logo-h.svg" alt="" class="w-[127px] inline-block">
        </div>
        <ul class="flex flex-col gap-2">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/projects">Projects</a></li>
            <li><a href="#">Calendar</a></li>
        </ul>
    </div>

    <div class="flex flex-col gap-1">
        <ul>
            <li><a href="#">Setting</a></li>
        </ul>
        <ul class="text-gray-400 text-xs flex flex-wrap gap-1">
            <li><a class="underline" href="#">About</a></li>
            <li><a class="underline" href="#">Support</a></li>
            <li><a class="underline" href="#">Feedback</a></li>
        </ul>
        <div class="text-gray-400 text-xs">v0.21.0</div>
    </div>
</div>
