.task-detail-feature {
	position: fixed;
	top: 2rem;
	width: 1080px;
	left: 50%;
	transform: translateX(-50%);
	max-height: calc(100vh - 4em);
	overflow: auto;

	.card {
		padding: 0;
	}
}

.task-detail-editor {
	max-height: 24rem;
	overflow: auto;
}
