/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

html,
body {
    font-size: 14px;
}

:root {
    --sidebar-width: 284px;
}

.dropdown-base {
    @apply bg-white shadow-xs rounded p-2 border border-slate-200;
}

.line-divider {
    @apply border-b border-slate-200;
}

.form-control {
    @apply block border border-slate-300 px-3 py-1 rounded w-full;
}

.btn {
    @apply inline-block border border-slate-300 px-3 py-1 rounded hover:bg-slate-300 cursor-pointer;
}

a {
    @apply hover:underline;
}


.avatar-btn {
    background-size: cover;
}

hr.divider {
    width: 100%;
    color: rgba(0, 0, 0, 0.12);
}

.no-underline {
    text-decoration: none !important;
}

.sidebar-menu .p-panelmenu-panel {
    border-width: 0 !important;

}

.sidebar-menu .p-menu {
    border-width: 0;
}