package projects

import "gitlab.com/shaninalex/lumna/app/web/pages/templates"

templ Edit(projectID string) {
	@templates.Dashboard("Edit Project") {
		<div class="project-edit">
			<h1>Edit Project</h1>
		</div>
	}
}
