package projects

import "context"
import "gitlab.com/shaninalex/lumna/app/web/pages/templates"

templ Overview(ctx context.Context, projectID string) {
	@templates.Dashboard(ctx, "Project Overview") {
		<div class="project-overview">
			<h1>Project Overview</h1>
		</div>
		<a class="btn btn-default" href={templ.SafeURL("/projects/first/edit")} >Edit</a>
	}
}
