package projects

import (
	"fmt"
	"gitlab.com/shaninalex/lumna/app/models"
	"gitlab.com/shaninalex/lumna/app/web/pages/templates"
	"gitlab.com/shaninalex/lumna/app/web/pages/templates/partials"
	"gitlab.com/shaninalex/lumna/app/web/utils"
)

type ProjectDetailPageData struct {
	utils.BasePage
	Project models.Project
}

templ ProjectDetail(page ProjectDetailPageData) {
	@templates.Dashboard(page.BasePage) {
		<div class="d-flex align-items-start justify-content-between mb-4">
			<div>
				<a
					class="btn btn-sm btn-outline-secondary"
					href={ templ.SafeURL("/projects") }
					aria-label="Back to projects page"
				>
					<i class="bi bi-chevron-left"></i> Back
				</a>
			</div>
			<a
				class="btn btn-sm btn-outline-secondary"
				href={ templ.SafeURL(fmt.Sprintf("/projects/%s/edit", page.Project.ID.String())) }
				aria-label="Edit project"
			>
				<i class="bi bi-pencil-square"></i>
			</a>
		</div>
		<div class="card p-4 bg-body-tertiary">
			<div class="mb-4">
				@partials.BoardForm(page.Project.ID.String(), page.CsrfToken)
			</div>
			<nav class="d-flex gap-4" id="projectBoardList">
				for _, board := range page.Project.Boards {
					@partials.BoardListItem(board.ID.String(), page.Project.ID.String(), board.Title)
				}
			</nav>
		</div>
	}
}
