package projects

import (
	"fmt"
	"gitlab.com/shaninalex/lumna/app/models"
	"gitlab.com/shaninalex/lumna/app/web/pages/templates"
	"gitlab.com/shaninalex/lumna/app/web/utils"
	"time"
)

type ProjectsPageData struct {
	utils.BasePage
	Projects []models.Project
}

templ ProjectsList(page ProjectsPageData) {
	@templates.Dashboard(page.BasePage) {
		<div class="row">
			for _, p := range page.Projects {
				<div class="col-md-4">
					<div class="card">
						<div class="card-header">
							<a href={ templ.SafeURL(fmt.Sprintf("/projects/%s", p.ID.String())) }>{ p.Title }</a>
						</div>
						<div class="card-body">
							Last edited: { p.UpdatedAt.Format(time.RFC850) }
						</div>
					</div>
				</div>
			}
		</div>
	}
}
