@if (project$ | async; as project) {
    <form (submit)="submit($event)">
        <div class="mb-2">
            <input class="form-control" placeholder="Project name" [formField]="projectForm.title" />
            @if (projectForm.title().touched()) {
                @for (error of projectForm.title().errors(); track error) {
                    <div class="text-danger small">{{ error.message }}</div>
                }
            }
        </div>

        @if (errors()) {
            @for (error of errors(); track error) {
                <li class="text-danger small">{{ error }}</li>
            }
        }

        <div>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
}
