<form (submit)="submit($event)">
    <div class="mb-2">
        <input class="form-control" placeholder="Project title" [formField]="boardForm.title" />
        @if (boardForm.title().touched()) {
            @for (error of boardForm.title().errors(); track error) {
                <div class="text-danger small">{{ error.message }}</div>
            }
        }
    </div>

    @if (errors()) {
        <ul class="mb-2">
            @for (error of errors(); track error) {
                <li class="text-danger small">{{ error }}</li>
            }
        </ul>
    }

    <div>
        <button type="submit" class="btn btn-primary" [disabled]="boardForm().invalid()">
            @if (loading()) {
                Processing...
            } @else {
                Save
            }
        </button>
    </div>
</form>
