package settings


import "gitlab.com/shaninalex/lumna/app/web/pages/templates"

templ Account() {
	@templates.Dashboard("Account Settings") {
		<div class="settings-account">
			<h1>Account Settings</h1>
		</div>
		<a href={ templ.SafeURL("/settings/account/security") }>Security</a>
	}
}
