package settings

import "context"
import "gitlab.com/shaninalex/lumna/app/web/pages/templates"

templ Index(ctx context.Context) {
	@templates.Dashboard(ctx, "Settings") {
		<div class="settings">
			<h1>Settings</h1>
		</div>

		<a href={ templ.SafeURL("/settings/account") }>Account</a>
	}
}
