package settings

import (
	"gitlab.com/shaninalex/lumna/app/web/pages/templates/dashboard"
	"gitlab.com/shaninalex/lumna/app/web/utils"
)

type SettingsPageData struct {
	utils.BasePage
}

templ Index(page SettingsPageData) {
	@dashboard.Dashboard(page.BasePage) {
		<h4>Settings</h4>
	}
}
