package settings

import "context"
import "gitlab.com/shaninalex/lumna/app/web/pages/templates"

templ Security(ctx context.Context) {
	@templates.Dashboard(ctx, "Security Settings") {
		<div class="settings-security">
			<h1>Security Settings</h1>
		</div>
	}
}
