package settings

import "gitlab.com/shaninalex/lumna/app/web/pages/templates"

templ Security() {
	@templates.Dashboard("Security Settings") {
		<div class="settings-security">
			<h1>Security Settings</h1>
		</div>
	}
}
