.cdk-drag-preview,
.status-sort-item {
    padding: 0.5rem 1rem;
    border: solid 1px #ccc;
    border-radius: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    cursor: move;
    background: white;
    font-size: 14px;
    font-family: sans-serif;
}

.cdk-drag-placeholder {
    opacity: 0.25;
}

.cdk-drag-animating {
    transition: transform 50ms cubic-bezier(0, 0, 0.2, 1);
}

.status-sort-list.cdk-drop-list-dragging .status-sort-item:not(.cdk-drag-placeholder) {
    transition: transform 50ms cubic-bezier(0, 0, 0.2, 1);
}
