<p-card header="Login">
    <form
        (submit)="onSubmit()"
        class="flex flex-col flex-wrap justify-center gap-4"
    >
        <div>
            <label for="email">Email</label>
            <input
                pInputText
                id="email"
                type="email"
                autocomplete="off"
                class="block"
                [class.p-invalid]="
                            loginForm.email().touched() &&
                            loginForm.email().invalid()
                        "
                [formField]="loginForm.email"
            />
        </div>
        <div>
            <label for="password">Password</label>
            <input
                pInputText
                id="password"
                type="password"
                autocomplete="off"
                placeholder="***"
                class="block"
                [formField]="loginForm.password"
                [class.p-invalid]="
                            loginForm.password().touched() &&
                            loginForm.password().invalid()
                        "
            />
        </div>

        @if (errors$ | async; as errors) {
            <div class="flex flex-col gap-2">
                @for (error of errors; track error) {
                    <p-message severity="error">
                        {{ error.message }}
                    </p-message>
                }
            </div>
        }

        <div class="flex justify-between items-center">
            <div>
                <p-button type="submit">Login</p-button>
            </div>
            <div class="mb-1">
                <a routerLink="/auth/login">Forgot password</a>
            </div>
        </div>
    </form>
</p-card>
