<form (submit)="onSubmit()" class="is-flexflex-col gap-2">
    <input
        class="input"
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
        placeholder="email"
    />
    <input
        class="input"
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
        placeholder="password"
    />
    <div class="text-center">
        <button type="submit" class="button is-primary">Login</button>
    </div>
</form>
