<div cdkDropListGroup class="flex flex-row no-wrap gap-4">
    @for (list of columns; track list) {
        <div class="bg-slate-200 w-xs rounded p-4">
            <div class="mb-2">
                <div class="font-bold text-slate-500">{{ list.title }}</div>
            </div>
            <div class="flex flex-col gap-2 min-h-20"
                 cdkDropList
                 [id]="list.id"
                 [cdkDropListData]="list.tasks"
                 (cdkDropListDropped)="drop($event)">
                @for (task of list.tasks; track task.id) {
                    <ts-task-card [projectKey]="projectKey" [task]="task" [cdkDragData]="task" cdkDrag/>
                }
            </div>
        </div>
    }
</div>
