<form (submit)="submit($event)">
    <div class="mb-2">
        <input class="input" placeholder="Project title" [formField]="boardForm.title" />
        @if (boardForm.title().touched()) {
            <ul class="error-list">
                @for (error of boardForm.title().errors(); track error) {
                    <li class="text-red-500 text-sm">{{ error.message }}</li>
                }
            </ul>
        }
    </div>

    @if (errors()) {
        <ul class="mb-2">
            @for (error of errors(); track error) {
                <li class="text-red-500 text-sm">{{ error }}</li>
            }
        </ul>
    }

    <div>
        <button type="submit" class="button is-primary" [disabled]="boardForm().invalid()">
            @if (loading()) {
                Processing...
            } @else {
                Save
            }
        </button>
    </div>
</form>
