<div class="sidebar">
    <div class="d-flex flex-column gap-4">
        <a routerLink="/">
            <img src="img/logo-h.svg" alt="" class="img-fluid" />
        </a>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page"  routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/calendar">Calendar</a>
            </li>
        </ul>
    </div>

    <div class="d-flex flex-column gap-1">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" routerLink="/settings">Setting</a>
            </li>
        </ul>
        <div class="d-flex gap-1">
            <a class="text-body-secondary small" href="#">About</a>
            <a class="text-body-secondary small" href="#">Support</a>
            <a class="text-body-secondary small" href="#">Feedback</a>
        </div>
        <div class="has-text-grey is-size-7">v0.21.0</div>
    </div>
</div>
