<div class="sidebar">
    <div class="is-flexflex-col gap-6">
        <div class="text-center">
            <img src="img/logo-h.svg" alt="" class="w-[127px] inline-block" />
        </div>
        <ul class="is-flexflex-col gap-2">
            <li><a class="hover:underline" routerLink="/">Home</a></li>
            <li><a class="hover:underline" routerLink="/projects">Projects</a></li>
            <li><a class="hover:underline" routerLink="/calendar">Calendar</a></li>
        </ul>
    </div>

    <div class="is-flexflex-col gap-1">
        <ul>
            <li><a routerLink="/settings">Setting</a></li>
        </ul>
        <ul class="text-gray-400 text-xs is-flexflex-wrap gap-1">
            <li><a class="underline" href="#">About</a></li>
            <li><a class="underline" href="#">Support</a></li>
            <li><a class="underline" href="#">Feedback</a></li>
        </ul>
        <div class="text-gray-400 text-xs">v0.21.0</div>
    </div>
</div>
