package templates


templ (s *EmailInvitation) template() {
	<html xmlns="http://www.w3.org/1999/xhtml">
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
			<meta name="viewport" content="initial-scale=1.0, width=device-width"/>
			<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		</head>
		<body>
			<div>{ s.receiverEmail() }</div>
			<div>{ s.receiverConfirmationLink() }</div>
		</body>
	</html>
}