$open_width: 12rem;
$closed_width: 4rem;

.layout-sidebar {
    width: $open_width;
}

.layout-content {
    width: calc(100% - $open_width);
    overflow-x: auto;
}

.sidebar-closed {
    .layout-sidebar {
        width: $closed_width;
    }
    .layout-content {
        width: calc(100% - $closed_width);
    }
}
