<div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropColumn($event)">
    <div class="flex items-start gap-4 overflow-x-scroll w-full" cdkDropListGroup>
        @if (columnsWithTasks$ | async; as columns) {
            @for (c of columns; track c.id) {
                <div cdkDrag class="card bg-surface-secondary w-[280px] shrink-0 kanban-column">
                    <!-- Column header -->
                    <div class="flex items-center justify-between gap-2 mb-4">
                        <app-column-edit-name-feature [column]="c" />

                        <div>
                            <button
                                cdkDragHandle
                                class="cursor-pointer text-gray-400 kanban-column-handler"
                            >
                                <i class="fa-regular fa-hand"></i>
                            </button>

                            <app-column-dropdown-feature [column]="c" />
                        </div>
                    </div>

                    <!-- Tasks -->
                    <div
                        class="min-h-[100px] flex flex-col gap-2 mb-4"
                        cdkDropList
                        [cdkDropListData]="c.tasks"
                        (cdkDropListDropped)="dropTask($event, c)"
                    >
                        @for (task of c.tasks; track task.id) {
                            <div cdkDrag [cdkDragData]="task">
                                <app-task-card [task]="task" />
                            </div>
                        }
                    </div>

                    <app-task-inline-form-feature
                        [column_id]="c.id"
                        [project_id]="c.project_id"
                        [board_id]="c.board_id"
                        [task_count]="c.tasks.length"
                    />
                </div>
            }

            <app-new-column-form [boardId]="board.id" [columns_length]="columns.length" />
        }
    </div>
</div>
