<div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropColumn($event)">
    <div class="is-flex is-align-items-start is-gap-2" cdkDropListGroup>
        @if (columnsWithTasks$ | async; as columns) {
            @for (c of columns; track c.id) {
                <div cdkDrag class="card kanban-column">
                    <!-- Column header -->
                    <div class="card-header">
                        <div class="is-flex-grow-1">
                            <app-column-edit-name-feature [column]="c"/>
                        </div>
                        <div class="is-flex is-align-items-start">
                            <button cdkDragHandle class="card-header-icon kanban-column-handler px-0">
                                <span class="icon">
                                    <i class="fa-regular fa-hand"></i>
                                </span>
                            </button>

                            <app-column-dropdown-feature [column]="c"/>
                        </div>
                    </div>

                    <!-- Tasks -->
                    <div
                        class="min-h-[100px] is-flexflex-col gap-2 mb-4"
                        cdkDropList
                        [cdkDropListData]="c.tasks"
                        (cdkDropListDropped)="dropTask($event, c)"
                    >
                        @for (task of c.tasks; track task.id) {
                            <div cdkDrag [cdkDragData]="task">
                                <app-task-card [board_id]="board.id" [task]="task"/>
                            </div>
                        }
                    </div>

                    <app-task-inline-form-feature
                        [column_id]="c.id"
                        [project_id]="board.id"
                        [task_count]="c.tasks.length"
                    />
                </div>
            }

            <app-new-column-form [board_id]="board.id" [columns_length]="columns.length"/>
        }
    </div>
</div>
