package board

import (
	"fmt"
	"gitlab.com/shaninalex/lumna/app/web/pages/templates"
	"gitlab.com/shaninalex/lumna/app/web/pages/templates/partials"
)

templ BoardDetail(page BoardPageData) {
	@templates.Dashboard(page.BasePage) {
		<div class="d-flex align-items-start justify-content-between mb-4">
			<div>
				<a class="btn btn-sm btn-outline-secondary mb-2" href={ templ.SafeURL(fmt.Sprintf("/projects/%s", page.Board.ProjectID.String())) }>
					<i class="bi bi-chevron-left"></i> Back
				</a>
				<br/>
				Board { page.Board.Title } detail page
			</div>
			<a class="btn btn-sm btn-outline-secondary" href={ templ.SafeURL(fmt.Sprintf("/projects/%s/board/%s/edit", page.Board.ProjectID.String(), page.Board.ID.String())) }>
				<i class="bi bi-pencil-square"></i> Edit
			</a>
		</div>
		<div class="d-flex align-items-start flex-wrap-none gap-4" data-board={ fmt.Sprintf("board-%s", page.Board.ID.String()) }>
			for _, list := range page.Board.Lists {
				@partials.BoardListColumn(list)
			}
		</div>
		<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" id="taskModalBody">Loading...</div>
		</div>
	}
}
