package board

import (
	"fmt"
	"gitlab.com/shaninalex/lumna/app/models"
	"gitlab.com/shaninalex/lumna/app/web/pages/templates"
	"gitlab.com/shaninalex/lumna/app/web/pages/templates/partials"
)

func boardUrl(board models.Board) string {
	return fmt.Sprintf("/projects/%s/board/%s", board.ProjectID.String(), board.ID.String())
}

templ BoardEdit(page BoardPageData) {
	@templates.Dashboard(page.BasePage) {
		<a
			class="btn btn-sm btn-outline-secondary mb-2"
			href={ templ.SafeURL(boardUrl(page.Board)) }
		>
			<i class="bi bi-chevron-left"></i> Back
		</a>
		<hr class="my-4"/>
		<div class="card" style="background-color: var(--bs-danger-bg-subtle)">
			<div class="card-body">
				<h3 class="text-danger mb-2">Danger zode</h3>
				@partials.BoardDelete(page.Board.ProjectID.String(), page.Board.ID.String(), page.CsrfToken)
			</div>
		</div>
	}
}
