package board

import "context"
import "gitlab.com/shaninalex/lumna/app/web/pages/templates"

templ Edit(ctx context.Context, projectID, boardID string) {
	@templates.Dashboard(ctx, "Edit Board") {
		<div class="board-edit">
			<h1>Edit Kanban Board</h1>
		</div>
	}
}
