package board

import "gitlab.com/shaninalex/lumna/app/web/pages/templates"

templ Edit(projectID, boardID string) {
	@templates.Dashboard("Edit Board") {
		<div class="board-edit">
			<h1>Edit Kanban Board</h1>
		</div>
	}
}
