package dashboard

import "gitlab.com/shaninalex/lumna/app/web/utils"
import "gitlab.com/shaninalex/lumna/app/web/pages/templates/base"

templ Dashboard(page utils.BasePage) {
	@base.Base(page) {
		<div class="dashboard">
			@DashboardSidebar()
			<div class="dashboard-main">
				@DashboardHeader(page)
				<main class="dashboard-content">
					{ children... }
				</main>
			</div>
		</div>
	}
}
