package templates

type SetupViewData struct {
	Email     string
	FirstName string
	LastName  string
	Errors    map[string]string
}

templ SetupView(data SetupViewData) {
	<html xmlns="http://www.w3.org/1999/xhtml">
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
			<meta name="viewport" content="initial-scale=1.0, width=device-width"/>
			<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
		</head>

		<body>
			<div class="vw-100 vh-100 d-flex align-items-center justify-content-center">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">
							Initial admin setup
						</h5>

						<h6 class="card-subtitle">
							Create the first administrator account for this instance.
						</h6>
					</div>

					<form action="/setup" method="post" class="card-body">
						<div class="mb-3">
							<label>
								Email
							</label>

							<input
								name="email"
								type="email"
								placeholder="john@example.com"
								value={ data.Email }
								autocomplete="off"
								class="form-control"
							/>

							if msg, ok := data.Errors["email"]; ok {
								<p class="error">{ msg }</p>
							}
						</div>

						<div class="row">
							<div class="col-md-6 mb-3">
								<label class="label">
									First name
								</label>

								<input
									name="first_name"
									type="text"
									placeholder="John"
									value={ data.FirstName }
									class="form-control"
								/>

								if msg, ok := data.Errors["first_name"]; ok {
									<p class="error">{ msg }</p>
								}
							</div>

							<div class="col-md-6 mb-3">
								<label class="label">
									Last name
								</label>

								<input
									name="last_name"
									type="text"
									placeholder="Doe"
									value={ data.LastName }
									class="form-control"
								/>

								if msg, ok := data.Errors["last_name"]; ok {
									<p class="error">{ msg }</p>
								}
							</div>
						</div>

						<div class="mb-3">
							<label class="label">
								Password
							</label>

							<input
								name="password"
								type="password"
								placeholder="••••••••"
								class="form-control"
							/>

							if msg, ok := data.Errors["password"]; ok {
								<p class="error">{ msg }</p>
							}
						</div>

						<div class="mb-3">
							<label class="label">
								Confirm password
							</label>

							<input
								name="password_confirm"
								type="password"
								placeholder="••••••••"
								class="form-control"
							/>

							if msg, ok := data.Errors["password_confirm"]; ok {
								<p class="error">{ msg }</p>
							}
						</div>

						if msg, ok := data.Errors["general"]; ok {
							<div class="error-box">
								{ msg }
							</div>
						}

						<div>
							<button type="submit" class="btn btn-primary">
								Create administrator
							</button>
						</div>
					</form>
				</div>
			</div>
		</body>
	</html>
}