{
  "singleQuote": false,
  "editor.formatOnSave": true,
  "proseWrap": "always",
  "tabWidth": 4,
  "requireConfig": false,
  "useTabs": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "semi": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
