.main {
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.content {
    width: 100%;
    position: relative;
    padding-top: 3.2rem;
}

.page-content {
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}
