/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
    --color-bg: var(--color-white);
    --color-text: var(--color-slate-900);
    --color-secondary: var(--color-gray-100);
    --color-layout-border: var(--color-slate-200);
}

[data-theme='dark'] {
    --color-bg: var(--color-slate-800);
    --color-text: var(--color-white);
    --color-secondary: var(--color-slate-700);
    --color-layout-border: var(--color-slate-700);
}

body,
html {
    background-color: var(--color-bg);
    color: var(--color-text);
}

.bg-surface {
    background-color: var(--color-bg);
}

.modal {
    background-color: var(--color-bg);
    display: block;
    padding: 1rem;
    border-radius: var(--radius-2xl);
    border: 1px solid var(--color-layout-border);
}

.dropdown {
    @apply rounded-xl;
    border: 1px solid var(--color-layout-border);
    background-color: var(--color-bg);
}

.btn {
    @apply cursor-pointer rounded-lg px-4 py-2 cursor-pointer inline-block disabled:opacity-75 disabled:pointer-events-none;
}

.btn.btn-sm {
    @apply px-3 py-1;
}

.btn.btn-primary {
    @apply bg-teal-500;
}

.btn.btn-danger {
    @apply bg-red-500;
}

.btn.btn-secondary {
    @apply bg-gray-300 dark:bg-slate-600 text-black hover:bg-gray-400 dark:text-white;
}

.card {
    @apply p-4 rounded-xl mb-4;
}

.input {
    @apply border block w-full rounded-lg px-2 py-1 border-gray-400 dark:border-slate-700;
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spin {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
