/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

.modal {
    background-color: var(--color-white);
    display: block;
    padding: 1rem;
    border-radius: var(--radius-2xl);
}

.btn {
    @apply cursor-pointer text-white rounded-lg px-4 py-2 cursor-pointer inline-block disabled:opacity-75 disabled:pointer-events-none;
}

.btn.btn-sm {
    @apply px-3 py-1;
}

.btn.btn-primary {
    @apply bg-teal-500;
}

.btn.btn-danger {
    @apply bg-red-500;
}

.btn.btn-secondary {
    @apply bg-gray-300 text-black hover:bg-gray-400;
}

.card {
    @apply p-4 rounded-xl mb-4;
}

.input {
    @apply border block w-full rounded-lg px-2 py-1 border-gray-400;
}
