@if (workspace$ | async; as workspace) {
    <nav class="sidebar h-100 bg-body-tertiary" [ngClass]="{ 'sidebar-closed': hideSidebar }">
        <ul class="nav flex-column">
            @if (currentProject(); as project) {
                <li class="nav-item">
                    <a
                        class="nav-link text-body"
                        [routerLink]="['/app/w', workspace.workspaceId, 'p', project.id, 'inbox']"
                    >
                        <i class="fa-solid fa-chart-column"></i>
                        <span class="sidebar-nav-link">Inbox</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link disabled text-secondary" aria-disabled="true"
                        [routerLink]="['/app/w', workspace.workspaceId, 'p', project.id, 'boards']"
                    >
                        <i class="fa-solid fa-chart-simple"></i>
                        <span class="sidebar-nav-link">Boards</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link text-body"
                        [routerLink]="['/app/w', workspace.workspaceId, 'p', project.id, 'backlog']"
                    >
                        <i class="fa-regular fa-file"></i>
                        <span class="sidebar-nav-link">Tasks</span>
                    </a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link disabled text-secondary" aria-disabled="true" href="#">
                    <i class="fa-regular fa-file"></i>
                    <span class="sidebar-nav-link">Files</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled text-secondary" aria-disabled="true" href="#">
                    <i class="fa-regular fa-envelope"></i>
                    <span class="sidebar-nav-link">Messages</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled text-secondary" aria-disabled="true" href="#">
                    <i class="fa-solid fa-bell"></i>
                    <span class="sidebar-nav-link">Notifications</span>
                </a>
            </li>
        </ul>

        <div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa-regular fa-circle-question"></i>
                        <span class="sidebar-nav-link">Help</span>
                    </a>
                </li>
            </ul>
            <div class="nav-link text-secondary pb-1 px-3" style="font-size: 0.7rem">
                v{{ version }}
            </div>
        </div>
    </nav>
}
