package auth

import (
	"gitlab.com/shaninalex/lumna/app/web/pages/templates/base"
	"gitlab.com/shaninalex/lumna/app/web/utils"
)

templ LoginPage(page utils.BasePage) {
	@base.Base(page) {
		<div class="vw-100 vh-100 d-flex align-items-center justify-content-center">
			<div style="width: 320px">
				<div class="text-center mb-3">
					<img src="/assets/img/logo.svg" width="150px"/>
				</div>
				<div class="card">
					<div class="card-body">
					    <form hx-post="/auth/login" hx-target="#result">
							<input type="hidden" value={ page.CsrfToken } name="_csrf"/>
							<div id="result"></div>
							<div class="mb-3">
								<label for="form_email" class="form-label">Email</label>
								<input type="email" class="form-control" name="email" id="form_email" value="" placeholder="example@mail.com" required/>
							</div>
							<div class="mb-3">
								<label for="form_password" class="form-label">Password</label>
								<input type="password" class="form-control" name="password" id="form_password" value="" placeholder="Password" required/>
							</div>
							<div>
								<button class="btn btn-success" type="submit" role="button">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	}
}
