package components

import "fmt"

templ Modal(id string) {
	<div id={ id } class="l-modal">
		<div
			class="l-modal-backdrop"
			onclick={ templ.JSFuncCall("closeModal", fmt.Sprintf("#%s", id)) }
		></div>
		<div class="l-modal-content card">
			<div class="card-body">
				{ children... }
			</div>
		</div>
	</div>
}
