<form (submit)="submit($event)" class="is-flexflex-col gap-2">
    <div>
        <input
            class="border block w-full rounded-lg px-2 py-1 border-gray-400"
            type="text"
            autocomplete="off"
            placeholder="Project title"
            [formField]="projectForm.title"
        />
        @if (projectForm.title().dirty()) {
            <ul class="error-list">
                @for (error of projectForm.title().errors(); track error) {
                    <li class="text-red-500 text-sm">{{ error.message }}</li>
                }
            </ul>
        }
    </div>

    <div class="is-flexitems-center gap-4">
        <button
            type="submit"
            class="button is-primary is-small"
            [disabled]="projectForm().invalid()"
        >
            Create
        </button>

        <button
            type="button"
            (click)="cancel()"
            class="button is-small  is-dark"
        >
            Cancel
        </button>
    </div>
</form>
