package base

import "gitlab.com/shaninalex/lumna/app/web/utils"

templ Base(page utils.BasePage) {
	<!DOCTYPE html>
	<html lang="en">
		@Head(page)
		<body>
			{ children... }
			@FooterIncludes()
		</body>
	</html>
}
