package partials

import "fmt"

templ BoardForm(projectId, _csrf string) {
	<button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#boardAddFormModal">
		Add board
	</button>
	<div class="modal fade" id="boardAddFormModal" tabindex="-1" aria-labelledby="boardAddFormLabel" aria-hidden="true">
		<div class="modal-dialog">
			<form
				class="modal-content"
				hx-post={ templ.SafeURL(fmt.Sprintf("/hx/projects/%s/board/form", projectId)) }
				hx-swap="beforeend"
				hx-target="#projectBoardList"
			>
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="boardAddFormLabel">Board create</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input type="hidden" value={ _csrf } name="_csrf"/>
					<div id="boardFormResult"></div>
					<div class="mb-3">
						<label for="form_title" class="form-label">Board title</label>
						<input type="text" class="form-control" name="title" id="form_title" placeholder="Board title" required/>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Add</button>
				</div>
			</form>
		</div>
	</div>
}
