package partials

import "gitlab.com/shaninalex/lumna/app/models"

templ BoardListColumn(list models.BoardList) {
	<div class="card kanban-column" id={ list.ID.String() }>
		<div class="card-header d-flex align-items-center justify-content-between cursor-handle">
			<div>{ list.Title }</div>
			<div class="dropdown">
				<button class="btn btn-default btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="bi bi-three-dots"></i>
				</button>
				<ul class="dropdown-menu dropdown-menu-end">
					<li><a class="dropdown-item" href="#">Edit</a></li>
					<li><a class="dropdown-item text-danger" href="#">Delete</a></li>
				</ul>
			</div>
		</div>
		<div class="card-body d-flex flex-column gap-2" data-column={ list.ID.String() }>
			for _, task := range list.Tasks {
				@TaskCard(task)
			}
		</div>
	</div>
}

templ BoardListFormButton() {
	<button
		type="button"
		class="btn btn-outline-secondary"
		hx-get="/hx/projects/board-list/modal"
		hx-target="body"
		hx-swap="beforeend"
	>
		Add list
	</button>
}

templ BoardListForm(_csrf string, isEdit bool) {
	@Modal("boardListForm") {
		<form hx-post="">
			<div>
				<input type="hidden" value={ _csrf } name="_csrf"/>
				<div id="boardFormResult"></div>
				<div class="mb-3">
					<label for="form_title" class="form-label">Board List title</label>
					<input type="text" class="form-control" name="title" id="form_title" placeholder="Board list title" required/>
				</div>
			</div>
			<button
				type="button"
				class="btn btn-secondary"
				onclick="closeModal('#boardListForm')"
			>
				Close
			</button>
			<button type="submit" class="btn btn-primary">
				{ boardListFormSubmitBtnText(isEdit) }
			</button>
		</form>
	}
}

func boardListFormSubmitBtnText(isEdit bool) string {
	if isEdit {
		return "Update"
	}
	return "Add"
}
