package partials

import "context"

templ DashboardHeader(ctx context.Context) {
	<div class="dashboard-header">
		<div>
			Dashboard Header
		</div>

		<div>
			<div class="dropdown">
			  	<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
		    		User
			  	</button>
				<ul class="dropdown-menu">
			    	<li><a class="dropdown-item" href={ templ.SafeURL("/auth/logout") }>Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
}
