package partials

templ DashboardSidebar() {
	<div class="dashboard-sidebar">
		<a href={templ.SafeURL("/")}>
			<img src="/assets/img/logo-h.svg" />
		</a>

		<div class="d-flex flex-column flex-grow-1">
			<nav class="nav flex-column flex-grow-1">
			  <a class="nav-link active" aria-current="page" href="#">Home</a>
			  <a class="nav-link" href="#">Projects</a>
			</nav>
			<nav class="nav flex-column">
				<a class="nav-link active" href="#">Settings</a>
			</nav>
		</div>
	</div>
}
