package partials

import "gitlab.com/shaninalex/lumna/app/web/utils"

templ DashboardHeader(page utils.BasePage) {
	<div class="dashboard-header">
		<div class="navbar bg-body-tertiary">
			<div class="container-fluid d-flex align-items-center justify-content-between">
				<div class="navbar-brand" id="dashboard-title">
					{ page.Title }
				</div>
				<div class="ms-auto d-flex align-items-center gap-2">
					@ThemeSwitcher()
					if page.User != nil {
						<div class="dropdown">
							<button class="btn btn-default p-0 d-flex align-items-center gap-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
								<span>{ page.User.Email }</span>
								<img src={ page.User.Icon } class="rounded-circle" style="width: 2rem"/>
							</button>
							<ul class="dropdown-menu dropdown-menu-end">
								<li><a class="dropdown-item" href={ templ.SafeURL("/settings") }>Settings</a></li>
								<li><hr class="dropdown-divider"/></li>
								<li><a class="dropdown-item" href={ templ.SafeURL("/auth/logout") }>Logout</a></li>
							</ul>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
}
