package partials

import "gitlab.com/shaninalex/lumna/app/web/utils"

templ Head(page utils.BasePage) {
	<head>
		<title>{ page.Title } | Lumna</title>
		<meta name="csrf-token" content={ page.CsrfToken }/>
		<script src="/assets/js/color-modes.js"></script>
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="/assets/css/bootstrap-icons.min.css" rel="stylesheet"/>
		<link href="/assets/css/app.css" rel="stylesheet"/>
	</head>
}
