package partials

templ Head(title string) {
	<head>
		<title>{title} | Lumna</title>
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="/assets/css/app.css" rel="stylesheet"/>
	</head>
}
