package partials

import "gitlab.com/shaninalex/lumna/app/web/adapters"

templ TaskModal(task *adapters.HtmlTask) {
	<div class="modal-content">
		<div class="modal-header">
			<h1 class="modal-title fs-5" id="exampleModalLabel">{ task.Title }</h1>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body" id="taskModalBody">
			@templ.Raw(task.Body())
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Save changes</button>
		</div>
	</div>
}

templ TaskModalArea() {
	<div class="modal fade modal-lg" id="taskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" id="taskModalBody">Loading...</div>
	</div>
}
