package partials

import "gitlab.com/shaninalex/lumna/app/models"
import "gitlab.com/shaninalex/lumna/app/web/adapters"
import "fmt"

templ TaskCard(task models.Task) {
	<div
		class="card"
		id={ task.ID.String() }
	>
		<div class="card-body">
			<button
				type="button"
				class="btn p-0"
				hx-get={ fmt.Sprintf("/hx/tasks/%s/modal", task.ID.String()) }
				hx-target="body"
				hx-swap="beforeend"
			>
				{ task.Title }
			</button>
			<div class="d-flex align-items-center justify-content-between">
				<div class="text-secondary">
					<small>{ task.CreatedAt.Format("15:04 02.01") }</small>
				</div>
				<div>
					<img src="/assets/img/5.png" class="rounded-circle" style="width: 1.5rem"/>
				</div>
			</div>
		</div>
	</div>
}

templ TaskModal(task *adapters.HtmlTask) {
	@Modal("taskDetailModal") {
		<div class="modal-content">
			<div class="d-flex align-items-center justify-content-between">
				<h1 class="modal-title fs-5">{ task.Title }</h1>
				<button type="button" class="btn-close" onclick="closeModal('#taskDetailModal')"></button>
			</div>
			<div class="modal-body">
				@templ.Raw(task.Body())
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					onclick="closeModal('#taskDetailModal')"
				>
					Close
				</button>
			</div>
		</div>
	}
}
