.workspace-layout {
    height: 100vh;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.subtitle {
    color: var(--mat-sys-on-surface-variant);
    margin-bottom: 1rem;
}

mat-nav-list {
    margin-bottom: 1rem;
}

.bottom {
    padding-top: 1rem;
}