/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

.modal {
    background-color: var(--color-white);
    display: block;
    padding: 1rem;
    border-radius: var(--radius-2xl);
}
