@use '@angular/material' as mat;
@use "tailwindcss";

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
  ));
}

body {
  margin: 0;
}

.mat-mdc-notch-piece.mdc-notched-outline__notch {
    border-right: 0;
}

.cdk-overlay-container {
    background: rgba(0, 0, 0, .2);
}

.lg-dialog {
    padding: 1rem;
}
