<div class="modal fade show d-block" tabindex="-1" role="dialog" (click)="onBackdropClick($event)">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div class="me-auto">
                    <app-task-change-status/>
                </div>
                <button class="btn btn-primary" [disabled]="!isChanged" (click)="save()">
                    Save
                </button>
                <button
                    type="button"
                    class="btn-close ms-2"
                    aria-label="Close"
                    (click)="close()">
                </button>
            </div>

            @if (task$ | async; as task) {
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-7 py-2">
                            <app-task-title-editor [title]="task.title" (onChange)="handleOnChangeTitle($event)"/>
                            <div class="my-4"></div>
                            <app-task-body-editor [body]="task.body" (onChange)="handleOnChangeBody($event)"/>
                        </div>
                        <div class="col-5 border-start bg-body-tertiary py-2">
                            <app-task-activity [task_id]="task.id"/>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal-backdrop fade show" (click)="onBackdropClick($event)"></div>
