@use "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.card {
    @apply p-4 border rounded-xl border-slate-200 shadow-xs bg-white shadow dark:bg-gray-800 dark:border-gray-700;
}

.card-accent {
    @apply bg-lime-600 text-white
}

.card-title {
    @apply font-bold;
}

.input {
    @apply w-full border border-slate-300 rounded-md px-3 py-1 focus:outline-slate-300;
}

.btn {
    @apply rounded-md px-3 py-1 cursor-pointer whitespace-nowrap;
}

.btn:disabled {
    @apply opacity-50 pointer-events-none;
}

.btn-primary {
    @apply bg-lime-300 dark:bg-lime-700;
}

.btn-secondary {
    @apply bg-slate-100 dark:bg-gray-700;
}

.btn-danger {
    @apply bg-rose-300 dark:bg-rose-700;
}

.btn-icon {
    @apply flex items-center justify-center gap-2;
}

.dropdown {
    @apply p-4 bg-white border rounded-xl border-slate-300 dark:bg-gray-700 dark:border-gray-600;
}

.active-link {
    @apply pointer-events-none text-slate-700
}

.hover-space {
    @apply rounded-md p-1 cursor-pointer hover:bg-gray-100/50 dark:hover:bg-gray-100/10;
}

:root {
    --scrollbar-color: var(--color-slate-300)
}

html[data-theme="dark"] {

    // Text editor
    --editor-dark-bg: var(--color-slate-800);
    --ngx-editor-popup-bg-color: var(--editor-dark-bg);
    --ngx-editor-menubar-bg-color: var(--editor-dark-bg);
    --ngx-editor-background-color: var(--editor-dark-bg);
    --ngx-editor-menu-item-hover-bg-color: var(--color-slate-600);
    --ngx-editor-text-color: var(--color-white);

    // scrollbar
    --scrollbar-color: var(--color-slate-500)
}


* {
    scrollbar-width: thin !important;
    scrollbar-color: var(--scrollbar-color) transparent;
}
